body {
    /* background-image: linear-gradient(blue, white); */
    background-color: lightskyblue
}

/* div:not(.row) {
    border: solid 1px;
    min-height: 50px;
} */

.navbar {
    text-align: center;
}

#wanna {
    background-color: red;
}

#add {
    background-color: yellow;
}

#devoured {
    background-color: green;
}

/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
} */